:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_headline: #253237;
  --border_color: #d6d6d6d5;
  --fontFamily_inter: "Inter", sans-serif;
  --fontFamily_DM: "DM sans", sans-serif;
}

.checkout {
  margin: 50px auto;
}

.checkout .order_summary {
  width: 55%;
  padding: 0 20px;
  border: 1px solid var(--border_color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  h1 {
    color: var(--main_color);
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border_color);
  }
}

.checkout .order_summary .items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  height: 350px;
  overflow-y: auto;
}

.checkout .items .item {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 0 10px 10px 0;
  border-bottom: 1px solid var(--border_color);
}

.checkout .items .item:last-child {
  border-bottom: none;
}

.checkout .items .item .img_name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkout .items .item .img_item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout .items .item img {
  width: auto;
  height: 80px;
}

.checkout .items .item .content h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color_headline);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkout .items .item .delete_item {
  background: transparent;
  outline: none;
  border: none;
  color: #e51a1a;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout .items .item .delete_item:hover svg {
  transform: scale(1.1);
}

.checkout .items .item .quantity_control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.checkout .items .item .quantity_control button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border_color);
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
  transition: 0.3s;
  &:hover {
    background-color: #d6d6d611;
  }
}

.checkout .items .item .quantity_control span {
  font-size: 16px;
  font-weight: 500;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout .bottom_summary {
  border-top: 1px solid var(--border_color);
}
.checkout .bottom_summary .shop_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.checkout .bottom_summary .button_div {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.checkout .bottom_summary .button_div button {
  background-color: var(--main_color);
  color: var(--white_color);
  padding: 15px 40px;
  font-size: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #0077cc;
  }
}
