.hero {
  position: relative;
  margin-bottom: 80px;
  padding-top: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.swiper-slide .content h4 {
  text-transform: uppercase;
  font-size: 2vw;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.4vw;
}
.swiper-slide .content h3 {
  text-transform: capitalize;
  font-size: 4vw;
  color: var(--main_color);
  font-weight: bolder;
  margin-bottom: 30px;
  line-height: 1.1;
}
.swiper-slide .content p {
  font-size: 1.1vw;
  margin: 2.5vw 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 400px) {
  .hero {
    margin-bottom: 0;
  }
}
