header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white_color);
  z-index: 100;
}
.top_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.top_header .logo {
  width: 160px;
}

.top_header .search_box {
  width: 500px;
  display: flex;
  align-items: center;
  background-color: var(--bg_color);
  border-radius: 30px;
  border: 2px solid var(--main_color);
}

.top_header .search_box input {
  height: 45px;
  width: 440px;
  padding: 5px 15px 5px 20px;
  background-color: var(--bg_color);
  border-radius: 30px 0 0 30px;
}

.top_header .search_box button {
  height: 45px;
  width: 60px;
  font-size: 18px;
  background-color: var(--main_color);
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  svg {
    fill: var(--white_color);
  }
}

.top_header .header_icons {
  display: flex;
  gap: 30px;
}

.top_header .header_icons .icon {
  position: relative;
  cursor: pointer;
  svg {
    font-size: 30px;
  }
}

.top_header .header_icons .icon .count {
  position: absolute;
  background-color: var(--main_color);
  color: var(--white_color);
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 100%;
  top: -5px;
  right: -10px;
  line-height: 20px;
  font-size: 14px;
}

.btm_header {
  background-color: var(--main_color);
}
.btm_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btm_header .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
}

.btm_header .category_nav {
  position: relative;
  width: 220px;
  height: 100%;
}

.btm_header .category_nav .category_btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main_color);
  padding: 0 15px;
  cursor: pointer;
  svg {
    fill: var(--white_color);
  }
  p {
    color: var(--white_color);
    font-size: 15px;
    font-weight: 600;
  }
}

.btm_header .category_nav .category_nav_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white_color);
  border: 1px solid #999;
  border-top: 0;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.3s ease-in-out;
  z-index: 10;
  a {
    padding: 14px 10px;
    border-bottom: 1px solid var(--border_color);
    font-size: 14px;
    &:last-child {
      border-bottom: 0;
    }
  }
}
.btm_header .category_nav .category_nav_list.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.btm_header .nav_links {
  display: flex;
  height: 100%;
}
.btm_header .nav_links li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  a {
    color: var(--white_color);
  }
}
.btm_header .nav_links li.active {
  background-color: #0079ca;
}

.btm_header .sign_regster_icons {
  display: flex;
  align-items: center;
  gap: 20px;
  svg {
    font-size: 22px;
    fill: var(--white_color);
  }
}

/* Search */

.search_box_container {
  position: relative;
}

.suggestion {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 87.5%;
  list-style-type: none;
  background-color: var(--white_color);
  box-shadow: 0px 0px 3px 0px #7b7b7ba1;
}

.suggestion li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.suggestion li:not(:last-child) {
  border-bottom: 1px solid var(--border_color);
}
.suggestion li img {
  width: 50px;
  height: 50px;
}

.suggestion span {
  font-size: 14px;
}

@media (max-width: 900px) {
  .top_header .search_box {
    display: none;
  }
  .btm_header .nav_links {
    display: none;
  }
}
