@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_headline: #253237;
  --border_color: #d6d6d6d5;
  --fontFamily_inter: "Inter", sans-serif;
  --fontFamily_DM: "DM sans", sans-serif;
}

body {
  background-color: #fff;
  font-family: var(--fontFamily_inter);
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_headline);
  font-family: var(--fontFamily_DM);
}

span {
  color: var(--main_color);
}

p {
  color: var(--p_color);
}

input,
button,
select,
textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--color_headline);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}

.btn {
  background-color: var(--main_color);
  color: var(--white_color);
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  scale: 1.05;
}

.skeltion {
  background-color: #e2e2e2;
  border-radius: 5px;
  animation: loading 1.5s infinite;
}
@keyframes loading {
  0% {
    background-color: #e2e2e2;
  }
  50% {
    background-color: #cfcfcf;
  }
  100% {
    background-color: #e2e2e2;
  }
}

/* Toast Styles */
.toast-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  max-width: 300px;
}

.toast-wrapper .toast-img {
  width: auto;
  height: 50px;
}

.toast-wrapper .toast-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toast-wrapper strong {
  font-size: 16px;
  color: var(--color_headline);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.toast-content .btn {
  padding: 5px 15px;
  font-size: 14px;
}
